*{
    background: rgb(153, 130, 130);
}
#box{
    margin:12% 43%;
    border: 2px solid red;
    
}
#weathericon{
    
   
}
#weathericon img{
    width: 100%;
    margin: auto auto;
}

#info{
    margin: 0px 58px;
}
#temp{

}
#location{
    font-size: 20px;
}